<div class="container">
  <div id="ct100_divAlt1">
    <!-- slide show -->
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
          <div class="owl-items row d-flex">
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_1.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_1.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_1.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_1.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-interval="3000">
          <div class="owl-items row d-flex">
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_2.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_2.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_2.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
            <div class="owl-item col-md-3 px-0">
              <div class="item">
                <a href="#">
                  <%= image_tag "image_2.jpg", class: "lazyOwl", style: "display: inline;" %>
                </a>
                <div class="slide-caption">
                  <h3>
                    <a href="#" title="Toàn Chức Pháp Sư">Toàn Chức Pháp Sư</a>
                  </h3>
                  <a href="#" title="Chapter 814">Chapter 814</a>
                  <span class="time">
                    <i class="fa fa-clock-o">
                    </i> 2 ngày trước
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div id="ct100_divCenter" class="center-side col-md-8">
        <div class="Module">
          <div class="ModuleContent">
            <div class="items">
              <h1 class="page-title">Truyen moi cap nhat</h1>
              <div class="row">
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <!-- ##################################### -->
                <!-- item -->
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
                <div class="item">
                  <figure class="clearfix">
                    <div class="image">
                      <a href="#">
                        <%= image_tag "image_1.jpg" %>
                      </a>
                      <div class="view clearfix">
                        <span class="pull-left">
                          <i class="fa fa-eye"></i>
                          33.825
                          <i class="fa fa-comment"></i>
                          20
                          <i class="fa fa-heart"></i>
                          433
                        </span>
                      </div>
                    </div>
                    <figcaption>
                      <h3>
                        <a href="#">Montage (WATANABE Jun)</a>
                      </h3>
                      <ul>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                        <li class="chapter clearfix">
                          <a href="#">Chapter 23</a>
                          <i class="time">17 phut truoc</i>
                        </li>
                      </ul>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div id="ct100_mainContent_ct100_divPager" class="pagination-outter d-flex justify-content-center">
              <ul class="pagination">
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">></a>
                </li>
                <li>
                  <a href="#">>></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="ct100_divRight" class="right-side col-md-4 cmszone">
        <!-- ################# -->
        <!-- Nguoi khac lam -->
        <!-- ################# -->
      </div>
    </div>
  </div>