<div class="container">
    <div id="ct100_divAlt1">
        <div class="top-comics Module Module-183">
            <div class="ModuleContent">
                <h2 class="page-title">Tuyện đề cử</h2>
                <div class="items-slide">
                    <!-- ##################### -->
                    <!-- Slide show -->
                    <!-- ##################### -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="ct100_divCenter" class="center-side col-md-8">
            <div class="Module">
                <div class="ModuleContent">
                    <div class="items">
                        <h1 class="page-title">Truyen moi cap nhat</h1>
                        <div class="row">
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <!-- ##################################### -->
                            <!-- item -->
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure class="clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <%= image_tag "image_1.jpg" %>
                                        </a>
                                        <div class="view clearfix">
                                            <span class="pull-left">
                                                <i class="fa fa-eye"></i>
                                                33.825 
                                                <i class="fa fa-comment"></i>
                                                20 
                                                <i class="fa fa-heart"></i>
                                                433 
                                            </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>
                                            <a href="#">Montage (WATANABE Jun)</a>
                                        </h3>
                                        <ul>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                            <li class="chapter clearfix">
                                                <a href="#">Chapter 23</a>
                                                <i class="time">17 phut truoc</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="ct100_mainContent_ct100_divPager" class="pagination-outter d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                            <li>
                                <a href="#">>></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="ct100_divRight" class="right-side col-md-4 cmszone">
            <!-- ################# -->
            <!-- Nguoi khac lam -->
            <!-- ################# -->
        </div>
    </div>
</div>